.module-67 .background-section, 
.module-67 .background-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.module-67:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: ;
    z-index: -1;
}

.module-67 {
  padding: 10.66667vw 0 26%;
  position: relative;
  z-index: 2;
  background: #fff; }
  .module-67 .ry-container {
    max-width: 900px;
    width: 90%;
    margin: auto;
    float: none; }
    @media (max-width: 1280px) {
      .module-67 .ry-container {
        max-width: 95%; } }
    .module-67 .ry-container #about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }

      .module-67 .ry-container #about .ry-section-title-wrapper h2{
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 48px;
        text-align: center; }

      .module-67 .ry-container #about p {
        /*font-size: calc(16px + 1 * ( (100vw - 320px) / 1280));*/ font-size: 20px;line-height:1.5;color:#000; opacity: .75;}

  .module-67 .ry-btn-primary {
    max-width: 215px;
    text-align: center;
    margin: auto;
    margin-top: 3em; }
  @media (max-width: 320px) {
    .module-67 h2 {
      font-size: 30px; }
      .module-67 h2 .span-1 {
        font-size: 30px; }
    .module-67 p {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .module-67 h2 .span-1 {
      display: block;
      text-align: center;
      margin-top: 5px; } }
  @media (max-width: 991px) {
    .module-67 {
      padding: 50px 0; } }
  @media (max-width: 1600px) {
    .module-67 h2 {
      font-size: calc(30px + 15 * ( (100vw - 320px) / 1280)); }
      .module-67 h2 .span-1 {
        font-size: calc(30px + 15 * ( (100vw - 320px) / 1280)) !important; } }
  @media (min-width: 1600px) {
    .module-67 p {
      font-size: 20px; } }
  .module-67.style2 .ry-container #about .ry-section-title h2{
    font-weight: 600; }
  .module-67.style2 .ry-container #about p {
    max-width: 920px;
    margin: auto; }

.module-67 .right-leaf {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 0;
    padding-bottom: 30%;
    width: 30%;
    mix-blend-mode: multiply;
}

.module-67 .right-leaf img {
    position: absolute;
    height: 100%;
    object-fit: contain;
    object-position: right top;
	opacity: .45;
}
