.module-insurance.style-1 .section-headline h2 {
	font-size: 58px;
	text-transform: uppercase;
}

.module-insurance.style-1 {
	padding: 80px 0 100px;
}

.module-insurance.style-1 .section-headline {
	margin-bottom: 50px;
}

.module-insurance.style-1 .insurance-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.module-insurance.style-1 .insurance-wrapper .each-row {
	display: flex;
}

.module-insurance.style-1 .insurance-wrapper .each-row .each-block {
	width: 240px;
	height: 240px;
	margin-left: 15px;
	margin-bottom: 15px;
	background: #cfd6de;
	display: flex;
	align-items: center;
	justify-content: center;
}

.module-insurance.style-1 .insurance-wrapper .each-row {
	max-width: 1280px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -15px;
	width: calc(100% + 15px);
}

.module-insurance.style-1 .insurance-wrapper .each-row .each-block img {
	width: 70%;
	margin: auto;
	/* filter: invert(1); */
}

.module-insurance.style-1 .insurance-wrapper .each-row.even .each-block:nth-child(odd) {
	background: #bd945a;
}

.module-insurance.style-1 .insurance-wrapper .each-row.even .each-block:nth-child(odd) img {
	filter: invert(1);
}

.module-insurance.style-1 .insurance-wrapper .each-row.odd .each-block:nth-child(even) {
	background: #184f5a;
}

.module-insurance.style-1 .insurance-wrapper .each-row.odd .each-block:nth-child(even) img {
	filter: invert(1);
}
@media (max-width: 1480px) {
	.module-insurance.style-1 .insurance-wrapper .each-row .each-block {
		width: 220px;
		height: 220px;
	}
}
@media (max-width: 1280px) {
	.module-insurance.style-1 .insurance-wrapper .each-row .each-block {
		width: 180px;
		height: 180px;
	}
}
@media (max-width: 1080px) {
	.module-insurance.style-1 .insurance-wrapper {
		display: none;
	}

	.module-insurance.style-1 .insurance-mobile-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px !important;
		width: calc(100% + 10px);
		justify-content: center;
	}

	.module-insurance.style-1 .insurance-mobile-wrapper .each-block {
		width: calc(33.33% - 10px);
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.module-insurance.style-1 .insurance-mobile-wrapper .each-block .photo {
		position: relative;
		padding-bottom: 100%;
		background: #bd945a;
	}

	.module-insurance.style-1 .insurance-mobile-wrapper .each-block .photo img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70%;
		transform: translate(-50%, -50%);
	}

}
@media (max-width: 1080px) and (min-width: 621px) {
	.module-insurance.style-1 .insurance-mobile-wrapper .each-block:nth-child(odd) .photo {
		background: #184f5a;
	}

	.module-insurance.style-1 .insurance-mobile-wrapper .each-block:nth-child(odd) .photo img {
		filter: invert(1);
	}
}
@media (max-width: 620px) {
	.module-insurance.style-1 .insurance-mobile-wrapper .each-block {
		width: calc(50% - 10px);
	}
	.module-insurance.style-1 .insurance-mobile-wrapper .each-block:nth-child(3n-13) .photo {
		background: #298185;
	}
	.module-insurance.style-1 .insurance-mobile-wrapper .each-block:nth-child(3n-13) .photo img {
		filter: invert(1);
	}
}
@media (max-width: 1680px) {
	.module-insurance.style-1 .section-headline h2 {
		font-size: 50px;
	}
}
@media (max-width: 1080px) {
	.module-insurance.style-1 {
		padding: 60px 0;
	}
	.module-insurance.style-1 .section-headline h2 {
		text-align: center;
		font-size: 46px;
	}
}
@media (max-width: 480px) {
	.module-insurance.style-1 .section-headline h2 {
		font-size: 42px;
	}
}
@media (max-width: 420px) {
	.module-insurance.style-1 .section-headline h2 {
		font-size: 36px;
	}
}