.active-with-click {
    padding: 6.6vh 0;
}
.fa-spin-fast {
    -webkit-animation: fa-spin-fast 0.2s infinite linear;
    animation: fa-spin-fast 0.2s infinite linear;
}

@-webkit-keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.ry-cta-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 6.6em;
}

.ry-cta-card h2 {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ry-cta-card h2 span {
    display: block;
}

.ry-cta-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: 0.8em;
}

.ry-cta-card h2:before,
.ry-cta-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ry-cta-card h2:after {
    top: auto;
    bottom: 0;
}

.ry-cta-card .img-container img {
    object-fit: cover;
    object-position: center;
}
.ry-cta-card.mc-active .ry-cta-description p {font-weight: 500;line-height:normal;}
@media screen and (max-width: 1200px) {
.ry-cta-card.mc-active .ry-cta-description p {
    font-size: calc(12px + 1 * ((100vw - 320px) / 680));}}

@media screen and (max-width: 767px) {
    .ry-cta-card.mc-active {
        padding-bottom: 0;
        height: auto;
    }
	.ry-cta-card.mc-active .ry-cta-description p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));}}



.ry-cta-description p {
    font-size: calc(14px + 2 * ((100vw - 500px) / 940));
	line-height: normal;
}

.ry-cta-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
}

.ry-cta-card.mc-active h2:before {
    top: 0;
}

.ry-cta-card.mc-active h2:after {
    bottom: -16px;
}

.ry-cta-card .ry-cta-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -20px;
    left: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	width: unset;
}

.ry-cta-card .ry-cta-btn-action {
    position: absolute;
    right: 16px;
    top: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ry-cta-card.mc-active .ry-cta-btn-action {
    top: 50px;
}

.ry-cta-card .ry-cta-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow-y: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}

.ry-cta-card .ry-cta-footer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ry-cta-card .ry-cta-footer h4 {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    -ms-transition: all 1.4s;
    -o-transition: all 1.4s;
    transition: all 1.4s;
}

.ry-cta-card .ry-cta-footer a {
    display: block;
    position: relative;
    color: #FFFFFF;
    line-height: 52px;
    margin: 0 auto;
}

.ry-cta-card .ry-cta-footer a:nth-child(1) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ry-cta-card .ry-cta-footer a:nth-child(2) {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.ry-cta-card .ry-cta-footer a:nth-child(3) {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.ry-cta-card .ry-cta-footer a:nth-child(4) {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.ry-cta-card .ry-cta-footer a:nth-child(5) {
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

.ry-cta-card .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ry-cta-card.mc-active .img-container {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 12px;
    width: 60px;
    height: 60px;
    z-index: 20;
}

.ry-cta-card.mc-active .ry-cta-content {
    padding-top: 5.6em;
}

@media screen and (max-width: 767px) {
    .ry-cta-card.mc-active .ry-cta-content {
        position: relative;
        margin-right: 16px;
    }
}

.ry-cta-card.mc-active .ry-cta-description {
    top: 50px;
    padding-top: 2.5em;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (max-width: 767px) {
    .ry-cta-card.mc-active .ry-cta-description {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 50px 30px 70px 30px;
        bottom: 0;
    }
}

.ry-cta-card.mc-active .ry-cta-footer {
    overflow: visible;
    position: absolute;
    top: calc(100% - 16px);
    left: 16px;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

.ry-cta-card.mc-active .ry-cta-footer a {
    top: 0;
	font-size: calc(13px + 6 * ((100vw - 320px) / 680));
}

.ry-cta-card.mc-active .ry-cta-footer h4 {
    top: -32px;
}

.ry-cta-card.Snap h2 {
    background-color: #bd945a;
    min-height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.ry-cta-card.Snap h2 a {
    color: #FFFFFF;
	font-size: calc(13px + 6 * ((100vw - 320px) / 680));
}

.ry-cta-card.Snap h2:after {
    border-top-color: #bd945a;
    border-right-color: #bd945a;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ry-cta-card.Snap h2:before {
    border-top-color: transparent;
    border-right-color: #bd945a;
    border-bottom-color: #bd945a;
    border-left-color: transparent;
	opacity: .7;
}

.ry-cta-card.Snap.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #bd945a;
    border-bottom-color: #bd945a;
    border-left-color: transparent;
}

.ry-cta-card.Snap.mc-active h2:after {
    border-top-color: #bd945a;
    border-right-color: #bd945a;
    border-bottom-color: transparent;
    border-left-color: transparent;
	opacity: .7;
}

.ry-cta-card.Snap .ry-cta-btn-action {
	background-color: #184f5a;
}

.ry-cta-card.Snap .ry-cta-btn-action:hover {
    background-color: #184f5a;
	opacity: .8;
}

.ry-cta-card.Snap .ry-cta-footer h4 {
    color: #B71C1C;
}

.ry-cta-card.Snap .ry-cta-footer a {
    /*background-color: #B71C1C;*/
}

.ry-cta-card.Snap.mc-active .ry-cta-content {
    background-color: #fafafa;
}

.ry-cta-card.Snap.mc-active .ry-cta-footer {
    background-color: #184f5a;
}

.ry-cta-card.Snap.mc-active .ry-cta-btn-action {
    border-color: #FFEBEE;
}

.ry-cta-card .ry-cta-description::-webkit-scrollbar {
    display: none;
}